.header {
    background-color: #505050;
    color: #f0f0f0;
    padding-top: 1em;
    padding-left: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
}

p, table, code, pre {
    margin-top: 0.5em;
    margin-left: 1em;
}

th {
    background-color: #505050;
    color: #f0f0f0;
}

td {
    border-left: solid black 1px;
    border-right: solid black 1px;
}
