<div class="container-fluid">
  <div class="row">
    <main role="main">
      <div class="jumbotron">
        <h1 class="display-3">diversemix</h1>
        <p>
          This site belongs to an Open Source developer based in Cambridge, UK.
        </p>

        <p>
          My philosophy is that life is a wonderful <b>diversemix</b>.
          I enjoy a wonderful mix of people, in my home life and throughout my career.
          This site is dedicated to sharing as much as I can about what I have learnt.
        </p>

        <p>

        </p>
<div id="todo" style="display: none;">
</div>

      </div>
    </main>
  </div> <!--- end row -->
</div>
